@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(100vh) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1);
    opacity: 0;
  }
}

/*.animate-float {*/
/*  animation: float 4s linear infinite;*/
/*}*/

.animate-heart {
  animation: heart linear infinite;
}

@keyframes heart {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.heart {
  animation: heart linear infinite;
}

@media (min-width: 1024px) {
  .desktop-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-section {
    width: 30%;
    text-align: left;
    padding: 20px;
  }

  .webapp-section {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 1023px) {
  .title-section {
    display: none;
  }

  .webapp-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.navbar-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}